* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-webkit-scrollbar-track {
  background: #1c2431;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

* ::-webkit-scrollbar {
  width: 5px;
  background: #f4f4f4;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

* ::-webkit-scrollbar-thumb {
  background: #65e2d9;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: #1c2431;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}

.header-brand {
  font-size: 1.5em;
  color: white;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav__btnMobile {
  display: none;
}

.header__nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav__menu li {
  margin-right: 30px;
}

.header__nav__menu li:last-child {
  margin-right: 0;
}

.header__nav__menu-anchor {
  position: relative;
  color: white;
  text-decoration: none;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.header__nav__menu-anchor:hover {
  color: #65e2d9;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.header__nav__menu-anchor:hover::before {
  width: 100%;
}

.header__nav__menu-anchor::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -2px;
  background-color: #65e2d9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

@media screen and (max-width: 760px) {
  .header__nav__btnMobile {
    display: block;
  }
  .header__nav__menu {
    display: none;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  color: white;
  background: url(../img/bg-curvy-desktop.svg) bottom no-repeat;
  background-size: 100% 270px;
}

.home-picture {
  width: 250px;
  height: 250px;
  border-radius: 60%;
  border: 1px solid #181f2a;
  margin: 2em 0;
  -webkit-animation: focusZoom 3s infinite;
          animation: focusZoom 3s infinite;
}

.home-name {
  font-size: 2em;
}

.home-dev {
  color: #65e2d9;
  margin-top: 10px;
  font-size: 1.2em;
}

.home-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.home-contact-linkedin {
  background: #65e2d9;
  border: 1px solid #65e2d9;
  color: #181f2a;
  text-decoration: none;
  padding: 1em;
  border-radius: 10px;
  margin-right: 20px;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

.home-contact-linkedin:hover {
  color: #65e2d9;
  border: 1px solid #65e2d9;
  background: #181f2a;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

.home-contact-whatsapp {
  background: #1c2431;
  border: 1px solid #1c2431;
  color: #65e2d9;
  text-decoration: none;
  padding: 1em;
  border-radius: 10px;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

.home-contact-whatsapp:hover {
  color: #65e2d9;
  border: 1px solid #65e2d9;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

@-webkit-keyframes focusZoom {
  0% {
    -webkit-box-shadow: 0px 0px 20px 0px #181f2a;
            box-shadow: 0px 0px 20px 0px #181f2a;
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px 10px #181f2a;
            box-shadow: 0px 0px 50px 10px #181f2a;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px 0px #181f2a;
            box-shadow: 0px 0px 20px 0px #181f2a;
  }
}

@keyframes focusZoom {
  0% {
    -webkit-box-shadow: 0px 0px 20px 0px #181f2a;
            box-shadow: 0px 0px 20px 0px #181f2a;
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px 10px #181f2a;
            box-shadow: 0px 0px 50px 10px #181f2a;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px 0px #181f2a;
            box-shadow: 0px 0px 20px 0px #181f2a;
  }
}

.main {
  position: relative;
}

.conduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway", sans-serif;
  background-color: #181f2a;
}

.conduct-title {
  font-size: 2em;
  color: #65e2d9;
  margin-top: 2em;
}

.conduct-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.conduct-wrapper__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  padding: 50px;
  margin: 10px;
  color: white;
}

.conduct-wrapper__card h4 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0;
}

.conduct-wrapper__card p {
  line-height: 20px;
  text-align: center;
  width: 70%;
}

@media screen and (min-width: 1700px) {
  .conduct-wrapper {
    width: 84%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(101, 226, 217, 0.071);
  font-family: "Raleway", sans-serif;
  background-color: #181f2a;
  padding: 2em 4em;
}

.about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-description img {
  width: auto;
  height: 460px;
}

.about-description__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-description__textBox h3 {
  font-size: 2em;
  color: #65e2d9;
  margin-bottom: 1em;
}

.about-description__textBox p {
  color: white;
  margin-bottom: 20px;
  text-align: justify;
  width: 80%;
  line-height: 25px;
}

.about-description__textBox a {
  color: #65e2d9;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
}

@media screen and (max-width: 1200px) {
  .about-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-description__textBox h3 {
    margin-top: 2em;
  }
}

@media screen and (min-width: 1700px) {
  .about-description {
    width: 80%;
  }
  .about-description__textBox p {
    width: 70%;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(101, 226, 217, 0.071);
  font-family: "Raleway", sans-serif;
  background-color: #181f2a;
  padding: 2em 0;
}

.skills-title {
  font-size: 2em;
  color: #65e2d9;
  margin-bottom: 1em;
}

.skills-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.skills-tools__card {
  background: #1c2431;
  border-radius: 10px;
  border: 1px solid #1c2431;
  padding: 20px 50px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.skills-tools__card:hover {
  border: 1px solid #65e2d9;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.skills-tools__card:hover i {
  color: #65e2d9;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.skills-tools__card i {
  color: #181f2a;
  font-size: 6em;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.skills-tools .javascritp {
  padding: 20px 44px;
}

.skills-tools .sass {
  padding: 20px 26px;
}

.skills-tools .bootstrap {
  padding: 20px 32px;
}

.skills-tools .github {
  padding: 20px 39px;
}

.skills-tools .git {
  padding: 20px 44px;
}

.skills-tools .linux {
  padding: 20px 44px;
}

@media screen and (min-width: 970px) and (max-width: 1300px) {
  .skills-tools {
    width: 80%;
  }
}

@media screen and (min-width: 1600px) {
  .skills-tools {
    width: 57%;
  }
}

@media screen and (min-width: 1700px) {
  .skills-tools {
    width: 92%;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(101, 226, 217, 0.071);
  font-family: "Raleway", sans-serif;
  background-color: #181f2a;
  padding-top: 2em;
  padding-bottom: 15em;
}

.projects-title {
  font-size: 2em;
  color: #65e2d9;
  margin-bottom: 1em;
}

.projects-carousel {
  width: 81%;
}

.projects-carousel .item {
  background: #1c2431;
  border: 1px solid cyan;
  border-radius: 5px;
  padding: 20px;
  color: white;
  width: 400px;
}

.projects-carousel .item i {
  font-size: 2.5em;
  color: cyan;
}

.projects-carousel .item h5 {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.projects-carousel .item p {
  margin-bottom: 1em;
  line-height: 20px;
}

.projects-carousel .item a {
  color: #65e2d9;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  margin-top: 0.5em;
}

@media screen and (min-width: 1700px) {
  .projects-carousel {
    width: 77%;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  padding: 2.5em;
  bottom: -160px;
  left: 50%;
  width: 50%;
  border-radius: 10px;
  color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Raleway", sans-serif;
  background-color: #1c2431;
}

.contact-title {
  font-size: 2em;
  color: #65e2d9;
  margin-bottom: 1em;
}

.contact p {
  line-height: 25px;
  text-align: center;
}

.contact-connection {
  margin: 1em 0;
}

.contact-connection__social-media {
  margin-right: 20px;
  font-size: 3em;
  color: #181f2a;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.contact-connection__social-media:hover {
  color: #65e2d9;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.contact-connection__social-media:last-child {
  margin-right: 0;
}

.contact-cv {
  background: #181f2a;
  border: 1px solid #181f2a;
  color: #65e2d9;
  text-decoration: none;
  padding: 1em;
  border-radius: 10px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.contact-cv:hover {
  background: #1c2431;
  border: 1px solid #65e2d9;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Raleway", sans-serif;
  background-color: #0b1523;
  padding-top: 15em;
  padding-bottom: 2em;
  color: white;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav__title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer__nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav__menu li {
  margin-bottom: 10px;
}

.footer__nav__menu li:last-child {
  margin-bottom: 0px;
}

.footer__nav__menu-anchor {
  position: relative;
  color: white;
  text-decoration: none;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.footer__nav__menu-anchor:hover {
  color: #65e2d9;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.footer__nav__menu-anchor:hover::before {
  width: 100%;
}

.footer__nav__menu-anchor::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -2px;
  background-color: #65e2d9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.footer-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-information a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer-information a:last-child {
  margin-bottom: 0px;
}

.footer-information a i {
  margin-right: 5px;
  font-size: 1.2em;
}

.footer-copyright i {
  margin-right: 5px;
  font-size: 1.2em;
}
/*# sourceMappingURL=bundle.css.map */