.conduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  background-color: $secondary-color;

  &-title {
    font-size: 2em;
    color: $cyan-color;
    margin-top: 2em;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      padding: 50px;
      margin: 10px;
      color: $white;

      & h4 {
        font-size: 1.3em;
        font-weight: bold;
        margin: 10px 0;
      }

      & p {
        line-height: 20px;
        text-align: center;
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .conduct {
    &-title {
      margin-bottom: 1em;
    }

    &-wrapper {
      flex-direction: column;
      width: 100%;

      &__card {
        width: 100%;
        padding: 0px;
        margin: 20px 0;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .conduct {
    &-wrapper {
      width: 84%;
    }
  }
}
