.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  padding: 20px;

  &-brand {
    font-size: 1.5em;
    color: $white;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &__btnMobile {
      display: none;
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;

      & li {
        margin-right: 30px;

        &:last-child{
          margin-right: 0;
        }
      }

      &-anchor {
        position: relative;
        color: $white;
        text-decoration: none;
        transition: all ease .4s;
        
        &:hover {
          color: $cyan-color;
          transition: all ease .4s;

          &::before {
            width: 100%;
          }
        }

        &::before {
          position: absolute;
          content: '';
          width: 0;
          height: 2px;
          left: 50%;
          bottom: -2px;
          background-color: $cyan-color;
          transform: translateX(-50%);
          transition: all ease .4s;
        }
      }
    }
  }
}