.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;

  &-brand {
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &__btnMobile {
      display: none;
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;

      &-anchor {
        color: hsl(0, 0%, 100%);
        text-decoration: none;
      }
    }
  }
}