.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: $white;
  background: url(../img/bg-curvy-desktop.svg) bottom no-repeat;
  background-size: 100% 270px;

  &-picture {
    width: 250px;
    height: 250px; 
    border-radius: 60%;
    border: 1px solid $secondary-color;
    margin: 2em 0;
    animation: focusZoom 3s infinite;
  }

  &-name {
    font-size: 2em;
    text-align: center;
  }

  &-dev {
    color: $cyan-color;
    margin-top: 10px;
    font-size: 1.2em;
  } 

  &-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

    &-linkedin {
      background: $cyan-color;
      border: 1px solid $cyan-color;
      color: $secondary-color;
      text-decoration: none;
      padding: 1em;
      border-radius: 10px;
      margin-right: 20px;      
      transition: all ease .6s;

      &:hover {
        color: $cyan-color;
        border: 1px solid $cyan-color;
        background: $secondary-color;
        transition: all ease .6s;
      }
    }

    &-whatsapp {
      background: $primary-color;      
      border: 1px solid $primary-color;
      color: $cyan-color;
      text-decoration: none;
      padding: 1em;
      border-radius: 10px;
      transition: all ease .6s;

      &:hover {
        color: $cyan-color;
        border: 1px solid $cyan-color;
        transition: all ease .6s;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .home {
    background: url(../img/bg-curvy-mobile.svg) bottom no-repeat;
    background-size: contain;
  
    &-picture {
      width: 200px;
      height: 200px;
    }
  
    &-name {
      font-size: 1.5em;
    }
  
    &-dev {
      font-size: 1em;
    } 
  
    &-contact {
      flex-direction: column;
  
      &-linkedin {        
        margin-right: 0px;
        width: 50%;
        text-align: center;
        margin-bottom: 1em;
      }

      &-whatsapp {        
        width: 50%;
        text-align: center;                
      }
    }
  }
}

@keyframes focusZoom {
  0% {
    box-shadow: 0px 0px 20px 0px $secondary-color;
  }

  50% {
    box-shadow: 0px 0px 50px 10px $secondary-color;
  }

  100% {
    box-shadow: 0px 0px 20px 0px $secondary-color;
  }
}

.main {
  position: relative;
}
