.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $row;
  font-family: "Raleway", sans-serif;
  background-color: $secondary-color;
  padding-top: 2em;
  padding-bottom: 15em;

  &-title {
    font-size: 2em;
    color: $cyan-color;
    margin-bottom: 1em;
  }

  &-carousel {
    width: 81%;

    & .item {
      background: $primary-color;
      border: 1px solid $cyan-color;
      border-radius: 5px;
      padding: 20px;
      color: $white;
      width: 400px;

      & i {
        font-size: 2.5em;
        color: $cyan-color;
      }

      & h5 {
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 0.5em;
      }

      & p {
        margin-bottom: 1em;
        line-height: 20px;
      }

      & a {
        color: $cyan-color;
        text-decoration: none;
        border-bottom: 1px solid $cyan-color;
        margin-top: 0.5em;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .projects {  
    padding-bottom: 18em;
    
    &-carousel {
      width: 90%;

      & .item {
        width: 369px;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .projects {
    &-carousel {
      width: 77%;
    }
  }
}
