.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $row;
  font-family: "Raleway", sans-serif;
  background-color: $secondary-color;
  padding: 2em 0;

  &-title {
    font-size: 2em;
    color: $cyan-color;
    margin-bottom: 1em;
  }

  &-carousel {
    width: 70%;

    & .item {
      background: #1c2431;
      border: 1px solid cyan;
      border-radius: 5px;
      padding: 20px;
      color: white;
      width: 400px;

      & i {
        font-size: 2.5em;
        color: cyan;
      }

      & h5 {
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 0.5em;
      }

      & p {
        margin-bottom: 1em;
      }

      & a {
        color: #65e2d9;
        text-decoration: none;
        border-bottom: 1px solid #65e2d9;
        margin-top: 0.5em;
      }
    }
  }
}
