.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $row;
  font-family: "Raleway", sans-serif;
  background-color: $secondary-color;
  padding: 2em 0;

  &-title {
    font-size: 2em;
    color: $cyan-color;
    margin-bottom: 1em;
  }

  &-tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 60%;

    &__card {
      background: $primary-color;
      border-radius: 10px;
      border: 1px solid $primary-color;
      padding: 20px 50px;
      margin: 10px;
      cursor: pointer;
      transition: all ease 0.4s;

      &:hover {
        border: 1px solid $cyan-color;
        transition: all ease 0.4s;

        i {
          color: $cyan-color;
          transition: all ease 0.4s;
        }
      }

      & i {
        color: $secondary-color;
        font-size: 6em;
        transition: all ease 0.4s;
      }
    }

    & .javascritp {
      padding: 20px 44px;
    }

    & .sass {
      padding: 20px 26px;
    }

    & .bootstrap {
      padding: 20px 32px;
    }

    & .github {
      padding: 20px 39px;
    }

    & .git {
      padding: 20px 44px;
    }

    & .linux {
      padding: 20px 44px;
    }
  }
}

@media screen and (min-width: 970px) and (max-width: 1300px) {
  .skills {  
    &-tools {
      width: 80%;
    }
  }
}

@media screen and (min-width: 1600px) {
  .skills {  
    &-tools {
      width: 57%;
    }
  }
}

@media screen and (min-width: 1700px) {
  .skills {  
    &-tools {
      width: 92%;
    }
  }
}
